BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
ColumnLimit: 160
IndentWidth: 4
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
Standard: c++20
TabWidth: 4
UseTab: Never
